{% load static %}
{% load i18n %}
{% load mytags %}
<div id="layout-wrapper">

    <header id="page-topbar">
        <div class="navbar-header">
            <div class="d-flex">
                <!-- LOGO -->
                <div class="navbar-brand-box">
                    <a href="{% url 'pages:cards' %}" class="logo logo-dark">
                    <span class="logo-sm">
{#                        <img src="{% static 'images/logo-sm.png' %}" alt="" height="22">#}
                    </span>
                        <span class="logo-lg">
                        <img src="{% static 'images/logo-dark.png' %}" alt="" height="17">
                    </span>
                    </a>

                    <a href="{% url 'pages:cards' %}" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="{% static 'images/logo-sm.png' %}" alt="" height="22">
                    </span>
                        <span class="logo-lg">
                        <img src="{% static 'images/logo-light.png' %}" alt="" height="18">
                    </span>
                    </a>
                </div>

                <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect vertical-menu-btn">
                    <i class="mdi mdi-menu"></i>
                </button>

                <div class="d-none d-sm-block">
                    <div class="dropdown dropdown-topbar pt-3 mt-1 d-inline-block">
                        <a class="btn btn-light dropdown-toggle" href="" role="button" id="dropdownMenuLink"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% trans 'Add' %} <i class="mdi mdi-chevron-down"></i>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'add:cat' %}">{% trans 'Category' %}</a>
                            <a class="dropdown-item"
                               href="{% url 'add:responsible-create' %}">{% trans 'Responsible Person' %}</a>
                            <a class="dropdown-item" href="{% url 'add:rooms-add' %}">{% trans 'Rooms' %}</a>
                            <a class="dropdown-item" href="{% url 'add:model-create' %}">{% trans 'Models' %}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex">

                <!-- App Search-->
                <form class="app-search d-none d-lg-block">
                    <div class="position-relative">
                        <input name="q" value="{{ request.GET.q }}" type="text" class="form-control"
                               placeholder="{% trans 'Search' %}...">
                        <span class="fa fa-search"></span>
                    </div>
                </form>

                <div class="dropdown d-inline-block d-lg-none ms-2">
                    <button type="button" class="btn header-item noti-icon waves-effect"
                            id="page-header-search-dropdown"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="mdi mdi-magnify"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
                         aria-labelledby="page-header-search-dropdown">

                        <form class="p-3">
                            <div class="form-group m-0">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search ..."
                                           aria-label="Recipient's username">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


                <div class="dropdown d-none d-md-block ms-2">
                    {% get_current_language as lang %}
                    {% get_available_languages as langs %}
                    <button type="button" class="btn header-item waves-effect" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        {{ lang|upper }} <span class="mdi mdi-chevron-down"></span>
                    </button>
                    {% for l in langs %}
                        {% if l.0 != lang %}
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="{% get_url_lang request l.0 %}" class="dropdown-item notify-item">
                                    <span class="align-middle"> {{ l.0|upper }} </span>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="dropdown d-none d-lg-inline-block">
                    <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                        <i class="mdi mdi-fullscreen font-size-24"></i>
                    </button>
                </div>

                <div class="dropdown d-inline-block ms-1">
                    <button type="button" class="btn header-item noti-icon waves-effect"
                            id="page-header-notifications-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ti-bell"></i>
                        <span class="badge bg-danger rounded-pill">3</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                         aria-labelledby="page-header-notifications-dropdown">
                        <div class="p-3">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5 class="m-0"> Notifications (258) </h5>
                                </div>
                            </div>
                        </div>
                        <div data-simplebar style="max-height: 230px;">
                            <a href="javascript:void(0);" class="text-reset notification-item">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar-xs">
                                    <span class="avatar-title border-success rounded-circle ">
                                        <i class="mdi mdi-cart-outline"></i>
                                    </span>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-1">Your order is placed</h6>
                                        <div class="text-muted">
                                            <p class="mb-1">If several languages coalesce the grammar</p>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a href="javascript:void(0);" class="text-reset notification-item">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar-xs">
                                    <span class="avatar-title border-warning rounded-circle ">
                                        <i class="mdi mdi-message"></i>
                                    </span>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-1">New Message received</h6>
                                        <div class="text-muted">
                                            <p class="mb-1">You have 87 unread messages</p>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a href="javascript:void(0);" class="text-reset notification-item">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar-xs">
                                    <span class="avatar-title border-info rounded-circle ">
                                        <i class="mdi mdi-glass-cocktail"></i>
                                    </span>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-1">Your item is shipped</h6>
                                        <div class="text-muted">
                                            <p class="mb-1">It is a long established fact that a reader will</p>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a href="javascript:void(0);" class="text-reset notification-item">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar-xs">
                                    <span class="avatar-title border-primary rounded-circle ">
                                        <i class="mdi mdi-cart-outline"></i>
                                    </span>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-1">Your order is placed</h6>
                                        <div class="text-muted">
                                            <p class="mb-1">Dummy text of the printing and typesetting industry.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a href="javascript:void(0);" class="text-reset notification-item">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar-xs">
                                    <span class="avatar-title border-warning rounded-circle ">
                                        <i class="mdi mdi-message"></i>
                                    </span>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-1">New Message received</h6>
                                        <div class="text-muted">
                                            <p class="mb-1">You have 87 unread messages</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="p-2 border-top">
                            <a class="btn btn-sm btn-link font-size-14 w-100 text-center" href="javascript:void(0)">
                                View all
                            </a>
                        </div>
                    </div>
                </div>


                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="rounded-circle header-profile-user" src="{% static 'images/users/user-4.jpg' %}"
                             alt="Header Avatar">
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <!-- item-->
                        <a class="dropdown-item" href="#"><i
                                class="mdi mdi-account-circle font-size-17 text-muted align-middle me-1"></i>
                            Profile</a>
                        <a class="dropdown-item" href="#"><i
                                class="mdi mdi-wallet font-size-17 text-muted align-middle me-1"></i> My Wallet</a>
                        <a class="dropdown-item d-flex align-items-center" href="#"><i
                                class="mdi mdi-cog font-size-17 text-muted align-middle me-1"></i> Settings<span
                                class="badge bg-success ms-auto">11</span></a>
                        <a class="dropdown-item" href="#"><i
                                class="mdi mdi-lock-open-outline font-size-17 text-muted align-middle me-1"></i> Lock
                            screen</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#"><i
                                class="mdi mdi-power font-size-17 text-muted align-middle me-1 text-danger"></i> Logout</a>
                    </div>
                </div>
                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect">
                        <i class="mdi mdi-spin mdi-cog"></i>
                    </button>
                </div>
                <div class="right-bar">
                    <div data-simplebar class="h-100">

                        <div class="rightbar-title d-flex align-items-center px-3 py-4">

                            <h5 class="m-0 me-2">Settings</h5>

                            <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                                <i class="mdi mdi-close noti-icon"></i>
                            </a>
                        </div>

                        <hr class="mt-0"/>
                        <h6 class="text-center mb-0">Choose Layouts</h6>

                        <div class="p-4">
                            <div class="mb-2">
                                <img src="{% static 'images/layouts/layout-1.jpg' %}" class="img-thumbnail" alt="">
                            </div>
                            <div class="form-check form-switch mb-3">
                                <input type="checkbox" class="form-check-input theme-choice" id="light-mode-switch"
                                       checked/>
                                <label class="form-check-label" for="light-mode-switch">Light Mode</label>
                            </div>
                            <div class="mb-2">
                                <img src="{% static 'images/layouts/layout-2.jpg' %}" class="img-thumbnail" alt="">
                            </div>
                            <div class="form-check form-switch mb-3">
                                <input type="checkbox" class="form-check-input theme-choice" id="dark-mode-switch"
                                       data-bsStyle="{% static 'css/bootstrap-dark.min.css' %}"
                                       data-appStyle="{% static 'css/app-dark.min.css' %}">
                                <label class="form-check-label" for="dark-mode-switch">Dark Mode</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>