{% load static %}

<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Main</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-email-outline"></i>
                        <span>Category</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="{% url 'pages:category'%}">Name</a></li>
                        <li><a href="{% url 'pages:size'%}">Size</a></li>
                        <li><a href="{% url 'pages:color'%}">Color</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'pages:turnover_list' %}">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span>TurnoverSheet</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'pages:invoice-list' %}">
                        <i class="mdi mdi-calendar-check"></i>
                        <span>TransferToInventory</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'pages:product_in-list' %}">
                        <i class="mdi mdi-calendar-check"></i>
                        <span>TransferFromInventory</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'pages:remaing_list' %}">
                        <i class="mdi mdi-calendar-check"></i>
                        <span>Remaing</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>
<!-- Left Sidebar End -->