{% load static %}
<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Main</li>

                <li>
                    <a href="">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span>Home</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'pages:responsible' %}">
                        <i class="mdi mdi-calendar-check"></i>
                        <span>Responsible Person</span>
                    </a>
                </li>
{#                <li>#}
{#                    <a href="javascript: void(0);" class="waves-effect">#}
{#                        <i class="mdi mdi-clipboard-outline"></i>#}
{#                        <span>Forms</span>#}
{#                    </a>#}
{#                </li>#}
                <li>
                    <a href="{% url 'pages:cards' %}">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span>Equipments</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span>Rooms</span>
                    </a>
                </li>

{#                <li>#}
{#                    <a href="javascript: void(0);">#}
{#                        <i class="mdi mdi-format-list-bulleted-type"></i>#}
{#                        <span>Tables</span>#}
{#                    </a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="{% url 'login' %}">#}
{#                        <i class="mdi mdi-account-box"></i>#}
{#                        <span> Authentication </span>#}
{#                    </a>#}
{#                </li>#}

{#                <li>#}
{#                    <a href="javascript: void(0);">#}
{#                        <i class="mdi mdi-text-box-multiple-outline"></i>#}
{#                        <span> Extra Pages </span>#}
{#                    </a>#}
{#                </li>#}
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->