{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% for y in query %}
    {% if forloop.first %}
    <title>{{ y.category_id }}</title>
    {% endif %}
    {% endfor %}
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="navbar">
                {% if query %}
                {% for y in query %}
                {% if forloop.first %}
                <h1>{{ y.category_id }}</h1>
                {% endif %}
                {% endfor %}
                {% else %}
                <h1>Ma'lumot mavjud emas</h1>
                {% endif %}
                <div class="search-container">
                    <button class="menu-btn"><a href="{% url 'equipment-create' %}"><b>Jihoz qo'shish</b></a></button>
                    <button class="admin-btn"><a href="{% url 'admin-index' %}"><b>Orqaga</b></a></button>
                    <form action="{% url 'admin-search' %}" method="get">
                        <input type="search" class="search" placeholder="Inventar raqami bo'yicha izlash" name="search">
                        <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
                        <button type="submit" class="qrcode-btn"><i class="fa fa-qrcode"></i></button>
                    </form>
                </div>
            </div>
            <img src="{% static 'emblem.png' %}" alt="" class="logo">
            <div class="product">
                {% for y in query %}
                {% if forloop.first %}
                <img src="{{ y.category_id.image.url }}" alt="" class="product-image">
                {% endif %}
                {% endfor %}
                <h1 class="count">{{ query|length }} TA</h1>
            </div>
            <div class="line"></div>
            <table>
                <tr>
                    <th>No</th>
                    <th>INVENTAR RAQAMI</th>
                    <th>JIXOZ MODELI</th>
                    <th>JOYLASHGAN XONA</th>
                    <th>JAVOBGAR SHAXS</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for m in query %}
                <tr>
                    <td class="left-circle">{{ m.id }}</td>
                    <td>{{ m.inventar_number }}</td>
                    <td>{{ m.model_id }}</td>
                    <td>{{ m.room_number }}</td>
                    <td class="right-circle">{{ m.responsible_id }}</td>
                    <td class="more"><a href="{% url 'product-detail' pk=m.id %}">Batafsil</a></td>
                    <td class="edit"><a href="{% url 'product-update' pk=m.id %}"><i class="fa fa-pencil"></i></a></td>
                    <td class="edit delete-btn"><a href="{% url 'product-delete' pk=m.id %}"><i class="fa fa-trash"></i></a></td>
                </tr>
                {% endfor %}
            </table>
            <hr>
            
        </div>  
    </div>
</body>
</html>