{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
{% block button %}
<div class="d-none d-sm-block">
    <div class="dropdown dropdown-topbar pt-3 mt-1 d-inline-block">
        <a class="dropdown-item" href="{% url 'add:invoice-create-keles'%}">Add</a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        </div>
    </div>
</div>
{% endblock %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <form method="get" action="{% url 'keles:invoice-list' %}" class="row g-2 mb-3">
                        <div class="col">
                            <input type="text" name="product_id" class="form-control form-control-lg" placeholder="ID"
                                   value="{{ request.GET.product_id }}">
                        </div>
                        <div class="col">
                            <input type="text" name="product_name" class="form-control form-control-lg"
                                   placeholder="Name" value="{{ request.GET.product_name }}">
                        </div>
                        <div class="col">
                            <input type="text" name="product_size" class="form-control form-control-lg"
                                   placeholder="Size" value="{{ request.GET.product_size }}">
                        </div>
                        <div class="col">
                            <input type="text" name="product_color" class="form-control form-control-lg"
                                   placeholder="Color" value="{{ request.GET.product_color }}">
                        </div>
                        <div class="col">
                            <input type="text" name="transfer" class="form-control form-control-lg"
                                   placeholder="Transfer" value="{{ request.GET.transfer }}">
                        </div>

                        <div class="col">
                            <input type="date" name="start_date" class="form-control form-control-lg"
                                   value="{{ request.GET.start_date }}">
                        </div>
                        <div class="col">
                            <input type="date" name="end_date" class="form-control form-control-lg"
                                   value="{{ request.GET.end_date }}">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-lg btn-primary ">🔍 Search</button>
                        </div>
                        <div class="col-auto">
                            <a href="?{{ request.GET.urlencode }}&export=excel" class="btn btn-lg btn-success">⬇️
                                Download Excel</a>
                        </div>
                    </form>
                    <div class="card mt-2">
                        <h2 class="card-title">Product-In-Catalog</h2>
                        <div class="card-body">
                            <form method="get">
                                <table class="table table-bordered align-middle table-centered table-vertical table-nowrap mb-1">
                                    <thead>
                                    <tr>
                                        <th>Product ID</th>
                                        <th>Product Name</th>
                                        <th>Product Size</th>
                                        <th>Product Color</th>
                                        <th>Transfer To Inventory</th>
                                        <th>Product Quantity</th>
                                        <th>Created At</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for m in invoice %}
                                    <tr>
                                        <td>{{ m.name.id }}</td>
                                        <td>{{ m.name }}</td>
                                        <td>{{ m.size }}</td>
                                        <td>{{ m.color }}</td>
                                        <td>{{ m.product_to }}</td>
                                        <td>{{ m.quantity }}</td>
                                        <td>{{ m.created_at|date:'d F Y' }}</td>
                                        <td>
                                            <a href="{% url 'add:invoice-edit-keles' m.pk %}?{{ request.GET.urlencode }}" class="text-primary me-2"
                                               title="Edit">
                                                <i class="typcn typcn-pencil"></i>
                                            </a>
                                            <a href="{% url 'add:invoice-delete-keles' m.pk %}?{{ request.GET.urlencode }}" class="text-danger"
                                               title="Delete"
                                               onclick="return confirm('Are you sure you want to delete this item?');">
                                                <i class="bi bi-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


