{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <a href="?export=excel" class="btn btn-outline-success">Download as Excel</a>
                    <div class="card mt-2">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table align-middle table-centered table-vertical table-nowrap mb-1">
                                    <thead>
                                    <th>
                                        Product Id
                                    </th>
                                    <th>
                                        Product Name
                                    </th>
                                    <th>
                                        Product Color
                                    </th>
                                    <th>
                                        Product Size
                                    </th>
                                    <th>
                                        TransferToInventory
                                    </th>
                                    <th>
                                        Product Quantity
                                    </th>
                                    <th>
                                        Product Created_at
                                    </th>

                                    </thead>
                                    <tbody>
                                    {% for m in query %}
                                    <tr>
                                        <td>{{ m.name.id}}</td>
                                        <td>
                                            {{ m.name}}
                                        </td>
                                        <td>
                                            {{ m.color }}

                                        </td>
                                        <td>
                                            {{ m.size }}
                                        </td>
                                        <td>
                                            {{ m.product_to }}
                                        </td>
                                        <td><span>{{ m.quantity }}</span>
                                        <td>
                                            {{ m.created_at| date:'d F Y' }}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}