{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                {% include 'base2.html' %}
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                {#                                <h4 class="card-title mb-4">Latest Orders</h4>#}

                                <div class="table-responsive">
                                    <table class="table align-middle table-centered table-vertical table-nowrap mb-1">
                                        <thead>
                                        <th>Product name</th>
                                        <th>Product image</th>
                                        <th>Product Responsible person</th>
                                        <th>Product Created at</th>
                                        <th>Product status</th>
                                        <th>Product Rooms</th>
                                        </thead>
                                        <tbody>
                                        {% for m in query %}
                                            <tr>
                                                <td>{{ m.category_id }}</td>
                                                <td>
                                                    <img src="{{ m.images.url }}" alt="user-image"
                                                         class="avatar-xs me-2 rounded-circle"/> {{ m.inventar_number }}
                                                </td>
                                                <td>
                                                    {{ m.responsible_id }}

                                                </td>
                                                <td>
                                                    {{ m.created_at| date:'d F Y' }}

                                                </td>
                                                 <td><span
                                                        class="badge rounded-pill bg-success">{{ m.status }}</span>
                                                <td>
                                                    {{ m.room_number }}
                                                </td>
                                                {#                                                <td>#}
                                                {#                                                    <button type="button"#}
                                                {#                                                            class="btn btn-secondary btn-sm waves-effect waves-light">#}
                                                {#                                                        Edit#}
                                                {#                                                    </button>#}
                                                {#                                                </td>#}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'layouts/footer.html' %}
    </div>
{% endblock %}