{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}
{% block button %}
    <div class="d-none d-sm-block">
        <div class="dropdown dropdown-topbar pt-3 mt-1 d-inline-block">
{#            <a class="btn btn-light dropdown-toggle" href="" role="button" id="dropdownMenuLink"#}
{#               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                {% trans 'Add' %} <i class="mdi mdi-chevron-down"></i>#}
{#            </a>#}
            <a class="dropdown-item" href="{% url 'add:model-create' %}">{% trans 'Models' %}</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

{#                <a class="dropdown-item"#}
{#                   href="{% url 'add:responsible-create' %}">{% trans 'Responsible Person' %}</a>#}
{#                <a class="dropdown-item" href="{% url 'add:rooms-add' %}">{% trans 'Rooms' %}</a>#}
{#
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4">{% trans 'Models' %}</h4>
                                <div class="table-responsive">
                                    <table class="table align-middle table-centered table-vertical table-nowrap mb-1">
                                        <tbody>
                                        {% for m in query %}
                                            <tr>
                                                <td>{{ m.name }}</td>
                                                <td>
                                                    <img src="{{ m.image.url }}" alt="user-image"
                                                         class="avatar-xs me-2 rounded-circle"/>
                                                </td>
                                                <td>
                                                    {{ m.created_at| date:'d F Y' }}
                                                </td>
                                                <td class="edit"><a href="{% url 'add:model-edit' pk=m.pk %}"><i
                                                        class="fa fa-pencil"></i></a></td>
                                                <td class="edit delete-btn" id="delete-btn"><a
                                                        href="{% url 'add:model-delete' pk=m.pk %}"
                                                        onclick="function confirm_category_delete(s) {

                                                                }
                                                                confirm_category_delete('{{ m.pk }}');"><i
                                                        class="fa fa-trash"></i></a></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'layouts/footer.html' %}
    </div>
{% endblock %}