{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="page-title-box">
                            <h4>{% trans 'Responsible Person' %}</h4>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="state-information d-none d-sm-block">
                            <div class="state-graph">
                                <div id="header-chart-1"></div>
                                <div class="info">Balance $ 2,317</div>
                            </div>
                            <div class="state-graph">
                                <div id="header-chart-2"></div>
                                <div class="info">Item Sold 1230</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title"></h4>
                                <p class="card-title-desc"></p>
                                <div class="table-rep-plugin">
                                    <div class="table-responsive mb-0" data-pattern="priority-columns">
                                        <table id="tech-companies-1" class="table  table-striped">
                                            <thead>
                                            <tr>
                                                <th>{% trans 'Fullname' %}</th>

                                                <th data-priority="1">{% trans 'Description' %}</th>
                                            </tr>
                                            </thead>
                                            {% for y in query %}
                                                <tbody>
                                                <tr>
                                                    <th>{{ y.fullname }}</th>
                                                    <td>{{ y.description }}</td>
                                                    <td class="edit"><a href="{% url 'add:responsible-edit' pk=y.pk %}"><i
                                                            class="fa fa-pencil"></i></a></td>
                                                    <td class="edit delete-btn" id="delete-btn"><a
                                                            href="{% url 'add:category-delete' pk=y.pk %}"
                                                            onclick="function confirm_category_delete(s) {

                                                                    }
                                                                    confirm_category_delete('{{ y.pk }}');"><i
                                                            class="fa fa-trash"></i></a></td>s
                                                </tr>

                                                </tbody>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        ©
                        <script>document.write(new Date().getFullYear())</script>
                        Lexa <span class="d-none d-sm-inline-block"> - Crafted with <i
                            class="mdi mdi-heart text-danger"></i> by Themesdesign.</span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}