{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                {#                                <h4 class="card-title mb-4">Latest Orders</h4>#}

                                <div class="table-responsive">
                                    <table class="table align-middle table-centered table-vertical table-nowrap mb-1">
                                        <thead>
                                            <th>
                                                {% trans 'Rooms Number' %}
                                            </th>
                                            <th>
                                                {% trans 'Floors Number' %}
                                            </th>
                                        </thead>
                                        <tbody>
                                        {% for n in query%}
                                            <tr>
                                                <td>{{ n.rooms }}</td>
                                                <td>
                                                    {{ n.floor }}

                                                </td>
{#                                                <td>#}
{#                                                    <button type="button"#}
{#                                                            class="btn btn-secondary btn-sm waves-effect waves-light">#}
{#                                                        Edit#}
{#                                                    </button>#}
{#                                                </td>#}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'layouts/footer.html' %}
    </div>
{% endblock %}