{% extends 'layouts/base.html' %}
{% load static %}

{% block button %}
    <div class="d-none d-sm-block">
        <div class="dropdown dropdown-topbar pt-3 mt-1 d-inline-block">
            <a class="dropdown-item" href="{% url 'add:size-create'%}">Adding Size</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-rep-plugin">
                                    <div class="table-responsive mb-0" data-pattern="priority-columns">
                                        <table id="tech-companies-1" class="table  table-striped">
                                            <thead>
                                            <tr>
                                                <th>Size</th>
                                            </tr>
                                            </thead>
                                            {% for y in query %}
                                                <tbody>
                                                <tr>
                                                    <th>{{ y.title }}</th>

                                                    <td class="edit"><a href="{% url 'add:size-edit' y.pk %}"><i
                                                            class="fa fa-pencil"></i></a></td>

                                                </tr>

                                                </tbody>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        ©
                        <script>document.write(new Date().getFullYear())</script>
                        Lexa <span class="d-none d-sm-inline-block"> - Crafted with <i
                            class="mdi mdi-heart text-danger"></i> by Themesdesign.</span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}